# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Datasets and prediction outputs
generated_battery_dataset/
*.csv

# Virtual Environment / Conda
.conda/
.venv/
env/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db
